src/main/resources/xml/v1/response/Subscription.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="subscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="id"/>
        <xs:element name="company">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="id"/>
                <xs:attribute type="xs:anyURI" name="href"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="user">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="id"/>
                <xs:attribute type="xs:anyURI" name="href"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="status"/>
        <xs:element type="xs:integer" name="externalAccountIdentifier"/>
        <xs:element name="product">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:integer" name="id"/>
                <xs:attribute type="xs:string" name="href"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:integer" name="maxUsers"/>
        <xs:element name="order">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:integer" name="id"/>
              <xs:element type="xs:string" name="status"/>
              <xs:element name="paymentPlan">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="href"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="frequency"/>
              <xs:element type="xs:date" name="startDate"/>
              <xs:element type="xs:date" name="endDate"/>
              <xs:element type="xs:integer" name="totalPrice"/>
              <xs:element type="xs:string" name="currency"/>
              <xs:element type="xs:string" name="type"/>
              <xs:element name="orderLines">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="orderLine">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="type"/>
                          <xs:element type="xs:string" name="unit"/>
                          <xs:element type="xs:integer" name="price"/>
                          <xs:element type="xs:integer" name="quantity"/>
                          <xs:element type="xs:integer" name="totalPrice"/>
                          <xs:element type="xs:string" name="description"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>